@media screen and (max-width: 1279.98px) {
  .main_bxh {
    margin-left: 90px !important;
    width: 100% !important;
  }
}
.main_bxh {
    margin-left: 252px;
    width: calc(100% - 252px);
    margin-bottom: 100px;
    height: 1000px;
    display: none;
  }
.luotnghe{
  color: white;
  font-weight: 600;
}
.number-top-1 {
  align-items: center;
  display: flex;
  justify-content: center;
  -webkit-text-stroke: 1px white;
  min-width: 18px;
  color: rgba(74, 144, 226, 0);
  font-size: 45px;
  font-weight: 900;
  font-family: "Roboto", sans-serif;
  margin-top: 2px;
  margin-right: 3px;
}
.top_1{
  -webkit-text-stroke: 1px #4a90e2;
}
.top_2{
  -webkit-text-stroke: 1px #50e3c2;
}
.top_3{
  -webkit-text-stroke: 1px #e35050;
}