.mains{
  width: 100% !important;
  height: 100% !important;
}
.main {
    margin-left: 252px;
    width: calc(100% - 252px);
    margin-bottom: 100px;
  }
  .header {
    margin-left: 252px;
    width: calc(100% - 252px);
  }
  .sidebar {
    position: fixed;
    height: 100%;
    width: 252px;
    z-index: 6;
    background-color: rgba(44, 47, 72, 0.3);
  }
@media screen and (max-width: 1279.98px) {
  .sidebar {
    width: 80px;
  }
  .sidebar .sidebar__persional .sidebar__nav li{
    width: 80px;
    height: 30px;
    padding-left:0 ;
  }
  .sidebar .sidebar__persional .sidebar__nav {
    padding-left:0 ;
  }
  .sidebar__nav li.underline {
    display: none;
  }
  .sidebar li span {
    display: none !important;
  }
  .sidebar img:nth-child(1) {
    display: none;
  }
  .sidebar img:nth-child(2) {
    display: block !important;
  }
  .main {
    margin-left: 90px;
    width: 100%;
  }
  .header{
    margin-left: 90px;
  }
}

/* Begin sidebar */
  .sidebar__logo {
    margin-top: 10px;
    width: 100%;
    height: 100px;

}
.sidebar__logo img {
  height: 100%;
  width: 70%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  padding: 0 20px;
}
.sidebar__nav {
    position: relative;
    text-align: center;
  }
  .sidebar__nav li {
    width: 180px;
    color: white;
    position: relative;
    margin-bottom: 10px;
    list-style: none;
    font-weight: bolder;
    border-top: 1px dotted black;
    border-right: 1px dashed black;
    border-bottom: 3px solid black;
    border-left: 1px double black;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.5);
  }

  
  .sidebar__nav li:hover {
    background: purple;
  }
  .sidebar__nav li:hover::after {
    content: "";
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: white;
  }
  .sidebar__nav li.active {
    background: purple;
  }
  .sidebar__nav li.active::after {
    content: "";
    height: 100%;
    width: 2px;
    position: absolute;
    top: 0;
    left: 0;
    background: white;
  }

  .sidebar__icon {
    margin: 0 10px;
  }
  
/* Music control */
@media screen and (max-width: 1279.98px) {
  .music-control__left-content-singer{
    display: none;
  }
}
.main-music-control {
  height: 90px;
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0; 
  background: #2C2F48;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  background-position-x: 50%;
  background-position-y: center;
  z-index: 6;
}

.music-control__left {
  position: relative;
  color: white;   
  display: flex; 
  justify-content: center;
  height: 90px;
  transition: transform 0.5s;
  transition-property: transform;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  transition-delay: 0s;
}

.music-control__left-img-box {
  transition: transform 0.5s;
  transition-property: transform;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  transition-delay: 0s;
}

.music-control__left-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid white ;
  background-size: contain;
  cursor: pointer;
}
.img-note {
  width: 10px;
  height: 10px;
  position: absolute;
  right: 0;
  top: 0;
  
}
.music-control__left-content {
  margin-left: 12px;
  max-width: 300px;
  cursor: pointer;
}

.music-control__left-content-song {
  font-size: 1.4rem;
  font-weight: 500;
  padding: 0;
  margin: 0;
  padding-bottom: 2px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.music-control__left-content-singer {
  font-size: 1.2rem;
  font-weight: 500;
  padding-top: 2px;
  color: rgba(255, 255, 255, 0.5);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.music-control__left-action {
  margin-left: 20px;
  display: flex;
  align-items: center;
}

.music-control__left-action-tym-non,
.music-control__left-action-tym,
.music-control__left-action-option {
  font-size: 1.6rem;
  border-radius: 50%;
  cursor: pointer;
  padding: 9px 9px;
}

.music-control__left-action-tym-non,
.music-control__left-action-tym {
  /* color: #ED2B91; */
  color: white;
}

.music-control__left-action-option {
  margin-left: 6px;
}

.music-control__left-action-tym-non:hover,
.music-control__left-action-tym:hover,
.music-control__left-action-option:hover {
  background-color:  rgba(255, 255, 255, 0.1);;
}

.music-control__left-action-tym-box .music-control__left-action-tym-non {
  display: none;
}

.music-control__left-action-tym-box-active .music-control__left-action-tym {
  display: none;
}

.music-control__left-action-tym-box-active .music-control__left-action-tym-non {
  display: block;
}


.music-control__center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  height: 90px;
}

.music-control__center-action {
  display: flex;
  align-items: center;
}

.music-control__icon {
  display: flex;
  align-items: center;
}

.music-control__icon i {
  border-radius: 50%;
  cursor: pointer;
  margin: 0 8px;
  position: relative;
}

.music-control__icon1:hover,
.music-control__icon2:hover,
.music-control__icon4:hover,
.music-control__icon5:hover {
  background-color: rgba(255, 255, 255, 0.1); ;
}

.music-control__icon-play:hover .music-control__icon33,
.music-control__icon-play:hover .music-control__icon3 {
  color: #ED2B91 !important;
  border: 2px solid #ED2B91 !important;
}

.music-control__icon1 {
  font-size: 1.6rem;
  padding: 8px;
}

.music-control__icon1.music-control__icon-random--active {
  color:#ED2B91;
}

.music-control__icon2 {
  font-size: 2.6rem;
  padding: 3px 13px 3px 9px;
}

.music-control__icon-play.music-control__icon-play--active .music-control__icon3 {
  display: none;
}

.music-control__icon-play.music-control__icon-play--active .music-control__icon33 {
  display: block;
}


.music-control__icon3 {
  font-size: 1.4rem;
  padding: 10px 10px 10px 12px;
  border: 2px solid #fff;
  border-radius: 50%;
}

.music-control__icon-play .music-control__icon33 {
  font-size: 1.4rem;
  padding: 10px 11px 10px 11px;
  border: 2px solid #fff;
  border-radius: 50%;
  display: none;
}

.music-control__icon4 {
  font-size: 2.6rem;
  padding: 3px 10px 3px 12px;
}

.music-control__icon5 {
  font-size: 1.6rem;
  padding: 8px;
}

.music-control__icon5.music-control__icon-repeat--active {
  color: #ED2B91 !important
}


.music-control__progress {
  display: flex;
  width: 80%;
  align-items: center;
  margin-top: 9px;
  position: relative;
}

.mobile-player__ctrl-progress {
  margin-top: 30px;
}

.music-control__progress-time-start,
.music-control__progress-time-duration {
  white-space: nowrap;
  font-size: 1.3rem;
  
}

.music-control__progress-time-start {
  color: white;
}

.music-control__progress-time-duration {
  color: w;
}

.music-control__volume-input,
.music-control__progress-input {
  width: 100%;
  margin: 0 10px;
  height: 3px;
  outline: none;
  background-color: rgba(255, 255, 255, 0.3);
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  border-radius: 10px;
  cursor: pointer;
}

.music-control__volume-input:hover,
.music-control__progress-input:hover {
  height: 5px;
}


.music-control__volume-input::-webkit-slider-thumb,
.music-control__progress-input::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 13px;
  width: 13px;
  appearance: none;
  background: white;
  border-radius: 8px;
  border: 1px solid #777;
  /* display: none; */
}

.music-control__progress-input:hover::-webkit-slider-thumb {
  display: block;
} 

.music-control__progress-update {
  width: 100%; 
  position: absolute;
  left: 42px;
  bottom: 7px;
  border-radius: 10px;
  display: none;
}

.music-control__progress-update-timeline {
  height: 3px;
  width: 100%;
  border-radius: 10px;
  background-color: var(--white-color);
  position: absolute;
  left: 0px;
  bottom: 0px;
}








.music-control__right {
  display: flex;
  align-items: center;
  justify-content: right;
  color: white;
  height: 90px;
  margin-right: 12px;
}

.music-control__right-volume-icon.music-control__right--active .music-control__right-icon4 {
  display: none;
}

.music-control__right-volume-icon.music-control__right--active .music-control__right-icon5 {
  display: block;
}

.music-control__right i {
  cursor: pointer;
  border-radius: 50%;
}

.music-control__right i:hover {
  background-color: rgba(255, 255, 255, 0.1);

}

.music-control__right-icon1 {
  font-size: 1.4rem;
  margin-right: 2px;
  padding: 9px 8px 9px 8px;
  color:  rgba(255, 255, 255, 0.5);
}

.music-control__right-icon2 {
  font-size: 1.4rem;
  margin-right: 2px;
  padding: 9px 12px 9px 12px;

}

.music-control__right-icon3 {
  font-size: 1.4rem;
  margin-right: 2px;
  padding: 9px 10px 9px 10px;

}

.music-control__right-icon4,
.music-control__right-icon5 {
  font-size: 2rem;
  margin-right: -9px;
  
}

.music-control__right-icon4 {
  padding: 6px 9px 6px 9px;
  
}

.music-control__right .music-control__right-icon5 {
  padding: 6px 6px 6px 7px;
  display: none;
}



.music-control__volume-progress {
  display: flex;
  align-items: center;
  width: 70px;
  cursor: pointer;
  margin-top: -2px;
}

.music-control__volume-input {
  width: 70px;
}
.rs__main-music-control-flex-1 {
      flex: 1;
  }

  /* ------------ header ----------- */
.header {
  padding-top: 10px;
  width: 100%;
}
.header .container {
  height: 70px;
  display: flex;
  align-items: center;
}
.header__search {
  display: flex;
  width: 50%;
  color: #dadada;
  margin-left: 0;
  float: left;
}
.header__search-control {
  margin-right: 20px;
  display: flex;
  align-items: center;
}
.header__search-control i {
  font-size: 20px;
  color:white;
  margin-left: 10px;
  cursor: pointer;
}
.header__search-box {
  width: 100%;
  display: flex;
  padding: 0 15px;
  border-radius: 20px;
  overflow: hidden;
}
.header__search-box .header__input{
   background: #2f2739;
   display: flex;
   border-radius: 20px;
   padding: 0 15px;
   width: 80%;
}
.header__search-box form{
  display: flex;
}
.header__search-box label {
  margin: 0;
  margin-right: 10px;
  cursor: pointer;
  display: flex;
  align-self: center;
}
.header__search-box input[type="text"] {
  size: 90%;
  border: none;
  outline: none;
  background: transparent;
  color: #ccc;
  caret-color: #fff;
  flex: 1;
  padding: 10px 0;
}
.header__search-box input::placeholder {
  color: #dadada;
}
.header__search-box input[type="submit"]{
  margin-left: 20px;
  border-radius: 20%;
  background: #2f2739;
  color: white;
  font-weight: 500;

}
.header__user{
  display: flex;
  float: right;
}
.header__user .avatar_user img{
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 2px solid white ;
  background-size: contain;
  cursor: pointer;
  margin-right: 5px;
}
.header__user .name_user{
  color: white;
  font-weight: 500;
  margin-top: 4px;
}
.header__user i {
  background: #2f2739;
  color: #c2c2c2;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: relative;
  margin: 0 5px;
  cursor: pointer;
}
.header__user button {
  background: rgba(0, 0, 0, 0.25);
  height: 70%;
  color: #c2c2c2;
  border-radius: 10%;
  position: relative;
  margin: 0 5px;
  margin-top: 8px;
  cursor: pointer;
}
.header__user button:hover{
  background:black ;
}
.header__user i:hover {
  background: #fff;
  color: #170f23;
}
.header__user i::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/*-------------------------- Carosel----------------------------- */
.container-discover__slider {
  display: flex;
  position: relative;
  margin-top: 10px;
  width: 100%;
}


.container-discover__slider-item {
  overflow: hidden;
  border-radius: 75px;
  cursor: pointer;
  transition: transform .4s;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: linear;
  transition-delay: 0s;
  padding: 15px;
  width: 33.33%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
}

.container-discover__slider-item-img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  
}

.container-discover__slider-item-first {
  z-index: 1;
  opacity: 0;
  transform: translateX(100%);
}

.container-discover__slider-item-second {
  z-index: 2;
  opacity: 1;
  transform: translateX(0%);
}

.container-discover__slider-item-third {
  transform: translateX(100%);
  z-index: 5;
  opacity: 1;
}

.container-discover__slider-item-four {
  position: relative;
  transform: translateX(200%);
  z-index: 4;
  opacity: 1;
}

.container-discover__slider-left,
.container-discover__slider-right {

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 5;
  cursor: pointer;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 12px 18px;
  
  display: none;
}

.container-discover__slider-left {
  left: 2%;
}

.container-discover__slider-right {
  right: 2%;
}

.container-discover__slider:hover .container-discover__slider-left,
.container-discover__slider:hover .container-discover__slider-right {
  display: block;
}
/* Baihat */
.baihat{
  color: white;
  font: 1em sans-serif;
  font-weight: 1000;
  margin: 20px;
 
}
/* <!--Listsong---> */
        /* song item */
        .songs-list {
          /* list-style: none; */
          padding-left: 0;
      }
      
      .songs-item {
          height: 60px;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          border-radius: 5px;
          margin-bottom: 5px;
          padding-left: 10px;
          padding-right: 10px;
          border-bottom: 1px solid rgba(255, 255, 255, 0.1);
          background: #393D5E;
      }
      
      .songs-item:active {
          opacity: 0.8;
      }
      
      .songs-item-left-img .songs-item-left-img-playbtn {
          font-size: 1.5rem;
          color: #fff;
          margin: auto;
          background-color: rgba(0, 0, 0, 0.5);
          width: 40px;
          height: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 4px;
          cursor: pointer;
          display: none;
      }
      
      .songs-item-left-img-playing-box {
          background-color: rgba(0, 0, 0, 0.5);
          display: none;
          border-radius: 4px;
      }
      
      .songs-item-left-img-playing {
          margin: auto;
          width: 18px;
          height: 18px;
          cursor: pointer;
      }
      .songs-item-left-img {
          background-size: contain;
          display: flex;
      }
      
      .songs-item-left-img-playbtn {
          margin: auto;
          font-size: 1.6rem;
      }
      
      .songs-item-center span {
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
      }
      .songs-item-left-img-playing-box{
          display: flex;
      }
      .songs-item-left-img-playbtn:hover {
          color: rgba(255, 255, 255, 0.8);
      }
      
      .songs-item-playbtn--active .songs-item-left-img-playbtn {
          display: flex;
      }
      
      .songs-item-playing--active-onplay .songs-item-left-img-playing-box {
          display: flex;
      }
      
      .songs-item-playing--active-onplay .songs-item-left-img-playbtn {
          display: none;
      }
          
      .songs-item:hover .songs-item-right-mv,
      .songs-item:hover .songs-item-right-lyric,
      .songs-item:hover .songs-item-right-more{
          display: block;
      }
      
      .songs-item:hover .songs-item-right-duration{
          display: none;
      }
      .songs-item:hover .delete_playlist{
        display: block !important;
    }
      
      .songs-item:hover {
          background-color: rgba(255, 255, 255, 0.1);;
      }
      
      .songs-item.songs-item--active {
          background-color:rgba(255, 255, 255, 0.1);;
      }
      
      .songs-item-left {
          display: flex;
          align-items: center;
      }
      
      .songs-item-left-img {
          width: 40px;
          height: 40px;
          border-radius: 5px;
      }
      
      .songs-item-left-body {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          padding-left: 10px;
          width: 300px;
      }
      
      .songs-item-left-body-name {
          color: #fff;
          font-size: 1.4rem;
          font-weight: 500;
          padding: 0;
          margin: 0;
          padding-bottom: 5px;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          cursor: default;
      }
      
      .songs-item-left-body-singer {
          font-size: 1.2rem;
          font-weight: 500;
          padding-top: 5px;
          margin: 0;
          padding: 0;
          color: rgba(255, 255, 255, 0.5);
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          cursor: default;
      }
      
      .songs-item-center {
          color: rgba(255, 255, 255, 0.5);
          font-size: 1.2rem;
          font-weight: 500;
          display: flex;
          width: 300px;
          cursor: default;
      }
      
      .songs-item-center span{
          cursor: default;
          white-space: nowrap;
      }
      
      .songs-item-right {
          display: flex;
          align-items: center;
          justify-content: right;
          width: 190px;
      }
      
      .songs-item-right-tym {
          font-size: 1.5rem;
          padding: 10px 11px;
          color: #ED2B91;
          border-radius: 50%;
          cursor: pointer;
      }
      
      .songs-item-right-tym.songs-item-right-tym--active .songs-item-right-tym-first {
          display: none;
      }
      
      .songs-item-right-tym.songs-item-right-tym--active .songs-item-right-tym-last {
          display: block;
      }
      
      .songs-item-right-tym .songs-item-right-tym-last {
          display: none;
      }
      
      .songs-item-right-duration {
          width: 50px;
          color: white;
          font-size: 1.2rem;
          font-weight: 500;
          text-align: right;
      }
      
      .songs-item-right-mv,
      .songs-item-right-lyric,
      .songs-item-right-more {
          color: white;
          font-size: 1.4rem;
          border-radius: 50%;
          cursor: pointer;
          margin: 0 7px;
          display: none;
      }
      
      .songs-item-right-tym:hover,
      .songs-item-right-mv:hover,
      .songs-item-right-lyric:hover,
      .songs-item-right-more:hover {
          background-color: rgba(255, 255, 255, 0.1);
      }
      
      .songs-item-right-mv {
          padding : 10px 10px;
      }
      
      .songs-item-right-lyric {
          padding : 10px 14px;
      }
      
      .songs-item-right-more {
          padding : 9px 11px;
          display: none;
          margin-left: 16px;
          margin-right: -2px;
      }